<!--<div *ngFor="let case2 of times3 " >
    <div *ngFor="let time of info " >
    <div class="form-group form-check">
        <div *ngIf="time[1] == case2[1] && time[0] == case2[0] && time[3] == case2[3]  " >
                <button class="btn btn-danger" type="submit" style="width: 50px" disabled>{{case2}}</button> <br><br>
        </div>
        
        <div *ngIf="time[3] != case2[3]  && time[1] != case2[1]" >
                <button  class="btn btn-success" (click)="reserve(case2)" type="submit" style="width: 50px"  >{{case2}}</button> <br><br>
        </div>
    
    </div>
    </div>

</div>-->

<div class="row ">
    <div class="col-xs-6">
        <p>reserved :</p>
        <div *ngFor="let case2 of reserved3 " >
            <div class="form-group form-check">
        
            <button class="btn btn-danger" type="submit" style="width: 50px" disabled>{{case2}}</button> <br><br>

            </div>

        </div>
    </div>
    <div class="col-xs-6">
        <p>not reserved :</p>
        <div *ngFor="let case of noreserved3 " >
            <div class="form-group form-check">
            <div *ngIf="case[0] != er[0]">
            <button class="btn btn-success" (click)="reserve(case)" type="submit" style="width: 50px" >{{case}}</button> <br><br>
            </div>
            </div>

        </div>
        </div>

</div>