

<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Near-Far</a>
  <h2 class="underlineHover" routerLink="/login" routerLinkActive="active">Sign In</h2>
  <h2 class="underlineHover" routerLink="/signup" routerLinkActive="active">Sign Up</h2>
  <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
    <input type="text" name="email"  class="form-control mr-sm-0 row" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required
      [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }" >
    <div *ngIf="signInForm.submitted && email.errors?.pattern">
      <label class="validation-message">Invalid email address.</label>
    </div>
    <input type="password" name="password"  class="form-control mr-sm-0 row" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4"
      [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
    <div *ngIf="signInForm.submitted && password.errors?.minlength">
      <label class="validation-message">Minimum 4 characters.</label>
    </div>

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Sign In">Log IN</button>
    <div class="form-group form-check">
      &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="form-check-input" id="exampleCheck1"[(ngModel)] ="client"  [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="exampleCheck1" >Client</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
      <input type="checkbox" class="form-check-input" id="exampleCheck2"  [(ngModel)] ="expert"  [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="exampleCheck2">Expert</label>
    </div>
 
  </form>
  <br>
  
</nav>


<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>